@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

html, body, #root {
  height: 100%;
}

[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}

@layer utilities {
  .animate-toast-progress {
    animation: toast-progress linear forwards;
  }

  @keyframes toast-progress {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}